node_modules/
.vscode/
.DS_Store
*.log
npm-debug.log*
.env
.env.local
dist/
build/
.idea/
*.swp
*.swo
*~
.gradle/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
pnpm-lock.yaml
package-lock.json
